Repository analogdevicesinc/no-OS, pull requests merged in 2020-10, with the labels that each got.

#779 Ad469x fixes
  drivers/adc/ad469x/ad469x.c
Labels: drivers, fix

#783 drivers: jesd204: axi_adxcvr: Fix adxcvr_init return
  drivers/axi_core/jesd204/axi_adxcvr.c
Labels: hacktoberfest-accepted

#781 include: print_log: add messages helpers
  include/print_log.h
Labels: hacktoberfest-accepted, new

#793 spi_engine: update write/read function
  drivers/adc/ad400x/ad400x.c
  drivers/adc/ad469x/ad469x.c
  drivers/adc/ad7768-1/ad77681.c
  drivers/axi_core/spi_engine/spi_engine.c
Labels: drivers, fix, hacktoberfest-accepted

#794 adc: ad7768-1: remove `spi_read_interrupt_data`
  drivers/adc/ad7768-1/ad77681.c
  drivers/adc/ad7768-1/ad77681.h
Labels: drivers, fix

#796 drivers: adc: ad7768-1: fix CRC
  drivers/adc/ad7768-1/ad77681.c
Labels: drivers, fix, hacktoberfest-accepted

#795 Ad77681evb fix
  projects/ad7768-1fmcz/src.mk
  projects/ad7768-1fmcz/src/ad77681evb.c
  projects/ad7768-1fmcz/src/parameters.h
Labels: fix, hacktoberfest-accepted, projects
