Repository analogdevicesinc/no-OS, pull requests merged in 2020-12, with the labels that each got.

#848 drivers: ad9434: fix test data values
  drivers/adc/ad9434/ad9434.h
Labels: drivers, fix

#852 drivers:adc:ad9265: remove incorrect test pattern
  drivers/adc/ad9265/ad9265.h
Labels: drivers, fix

#854 projects: ad9739a: add dac core baseaddr offset
  projects/ad9739a-fmc-ebz/src/parameters.h
Labels: fix, projects

#853 projects: change buffer address to DDR
  projects/ad738x_fmcz/src/ad738x_fmc.c
  projects/ad7616-sdz/src/ad7616_sdz.c
Labels: fix, projects

#857 libraries:iio: add differential channel identifier
  libraries/iio/iio.c
  libraries/iio/iio_types.h
Labels: enhancement

#862 projects: ad9739a: remove duplicate define
  projects/ad9739a-fmc-ebz/src/parameters.h
Labels: fix, projects

#870 projects: daq2: DMA related fixes
  projects/fmcdaq2/src/app/fmcdaq2.c
Labels: fix, projects

#879 projects: ad9739a: add DMA support
  projects/ad9739a-fmc-ebz/src/ad9739a_fmc_ebz.c
  projects/ad9739a-fmc-ebz/src/app_config.h
Labels: projects, update
