Repository analogdevicesinc/no-OS, pull requests merged in 2020-09, with the labels that each got.

#753 projects: adv7511: fix makefile
  projects/adv7511/src.mk
Labels: fix, projects

#755 adc:ad6676: adjust F based on nr. of lanes
  drivers/adc/ad6676/ad6676.c
Labels: drivers, fix

#752 I2C: add generic interface
  drivers/i2c/i2c.c
  drivers/platform/altera/altera_i2c.c
  drivers/platform/altera/i2c_extra.h
  drivers/platform/xilinx/i2c_extra.h
  drivers/platform/xilinx/xilinx_i2c.c
  include/i2c.h
  projects/adv7511/src.mk
  projects/adv7511/src/main.c
Labels: drivers, projects, update

#754 gpio: generic interface
  drivers/gpio/gpio.c
  drivers/platform/altera/altera_gpio.c
  drivers/platform/altera/gpio_extra.h
  drivers/platform/xilinx/gpio_extra.h
  drivers/platform/xilinx/xilinx_gpio.c
  include/gpio.h
  projects/ad713x_fmcz/src.mk
  projects/ad713x_fmcz/src/ad713x_fmc.c
  projects/ad9081/src.mk
  projects/ad9081/src/app.c
  projects/ad9081/src/app_clock.c
  projects/ad9172/src.mk
  projects/ad9172/src/main.c
  projects/ad9208/src.mk
  projects/ad9208/src/main.c
  projects/ad9361/src.mk
  projects/ad9361/src/main.c
  projects/ad9371/src.mk
  projects/ad9371/src/devices/adi_hal/common.c
  projects/adrv9009/src.mk
  projects/adrv9009/src/app/app_clocking.c
  projects/adrv9009/src/app/headless.c
  projects/adrv9009/src/devices/adi_hal/no_os_hal.c
  projects/fmcadc2/src.mk
  projects/fmcadc2/src/app/fmcadc2.c
  projects/fmcadc5/src.mk
  projects/fmcadc5/src/app/fmcadc5.c
  projects/fmcdaq2/src.mk
  projects/fmcdaq2/src/app/fmcdaq2.c
  projects/fmcdaq3/src.mk
  projects/fmcdaq3/src/app/fmcdaq3.c
  projects/fmcjesdadc1/src.mk
  projects/fmcjesdadc1/src/app/fmcjesdadc1.c
Labels: drivers, projects, update

#735 drivers:photo-electronic: add ADPD410x driver
  drivers/photo-electronic/adpd410x/adpd410x.c
  drivers/photo-electronic/adpd410x/adpd410x.h
Labels: drivers, new

#759 projects: ad400x: remove gpio from makefile
  projects/ad400x-fmcz/src.mk
Labels: fix, projects

#764 tools:scripts:src_model: fix IGNORED_FILES variable
  tools/scripts/src_model.mk
Labels: bug, fix

#773 drivers: gpio_get_optional fix
  drivers/gpio/gpio.c
Labels: drivers, fix
