Repository analogdevicesinc/no-OS, pull requests merged in 2020-11, with the labels that each got.

#805 include: print_log: fix typo
  include/print_log.h
Labels: drivers, fix

#808 drivers:platform:xilinx: fix gpio_get_optional bug
  drivers/platform/xilinx/xilinx_gpio.c
Labels: bug, drivers, fix

#817 travis: remove build jobs for ad9361 project
  .travis.yml
  ci/travis/run_build.sh
Labels: fix

#818 drivers: makefile: include axi_dac_core.h
  drivers/Makefile
Labels: fix

#819 ad9361_api: fix ad9361_get_tx_attenuation typo
  drivers/rf-transceiver/ad9361/ad9361_api.c
Labels: fix

#829 projects:adv7511: update source paths on make
  projects/adv7511/src.mk
Labels: projects, xilinx

#832 spi_engine: expose dma flags attribute
  drivers/axi_core/spi_engine/spi_engine.c
  drivers/axi_core/spi_engine/spi_engine.h
Labels: drivers, update

#835 include: gpio: switch `number` param to integer
  include/gpio.h
Labels: drivers, fix

#833 spi_engine: driver updates
  drivers/axi_core/spi_engine/spi_engine.c
Labels: drivers, update
