Repository analogdevicesinc/no-OS, pull requests merged in 2020-08, with the labels that each got.

#696 iio_wifi_backend 2: wifi: Replace custom circular buffer with new implementation
  network/wifi/at_parser.c
  network/wifi/at_parser.h
  network/wifi/wifi.c
Labels: update

#725 tools:scripts: fix bug in the windows.mk makefile
  tools/scripts/windows.mk
Labels: bug, fix

#723 drivers: adc: add AD7798/AD7799 driver
  drivers/adc/ad7799/ad7799.c
  drivers/adc/ad7799/ad7799.h
Labels: drivers, new

#715 drivers:platform:aducm3029: add power driver
  drivers/platform/aducm3029/platform_init.c
  drivers/platform/aducm3029/platform_init.h
Labels: drivers, new
