Repository analogdevicesinc/no-OS, pull requests merged in 2020-06, with the labels that each got.

#622 drivers:platform:aducm3029: Uart read and write more than 1024
  drivers/platform/aducm3029/uart.c
Labels: fix

#637 Ad5770r update
  drivers/dac/ad5770r/ad5770r.c
  drivers/dac/ad5770r/ad5770r.h
Labels: drivers, feature, fix

#647 network: wifi move CONNECTION_BUFFER_SIZE to init_param
  network/network_interface.h
  network/tcp_socket.c
  network/tcp_socket.h
  network/wifi/wifi.c
Labels: fix

#671 tools:scripts:platform:xilinx: update windows script
  tools/scripts/platform/xilinx/environment.bat
  tools/scripts/platform/xilinx/environment.ps1
Labels: bug, fix
