Repository analogdevicesinc/no-OS, pull requests merged in 2020-03, with the labels that each got.

#510 drivers:platform:xilinx: update I2C driver for multiple instances
  drivers/platform/xilinx/i2c.c
  drivers/platform/xilinx/i2c_extra.h
Labels: drivers, enhancement, xilinx

#502 util: Add circular buffer library
  include/circular_buffer.h
  util/circular_buffer.c
Labels: feature, new

#493 util: Add list library
  include/list.h
  util/list.c
Labels: feature

#515 include:irq Modification decided on no-os meeting
  drivers/platform/aducm3029/irq.c
  drivers/platform/aducm3029/irq_extra.h
  drivers/platform/xilinx/irq.c
  drivers/platform/xilinx/uart.c
  include/irq.h
Labels: enhancement

#525 drivers:platform:xilinx: use list util for I2C driver
  drivers/platform/xilinx/i2c.c
Labels: drivers, enhancement, xilinx

#528 drivers:platform:xilinx: add timer driver implementation
  drivers/platform/xilinx/timer.c
  drivers/platform/xilinx/timer_extra.h
Labels: drivers, new, xilinx
