Repository analogdevicesinc/no-OS, pull requests merged in 2021-08, with the labels that each got.

#1062 drivers:adpd410x: fix SPI reg write
  drivers/photo-electronic/adpd410x/adpd410x.c
Labels: drivers, fix

#1063 tools:scripts:build projects: fix hw release link
  tools/scripts/build_projects.py
Labels: fix, projects

#1072 iio_app: remove irq for platfrom_mb
  iio/iio_app/iio_app.c
Labels: update

#1068 drivers: ad7799: update ADC channel read
  drivers/adc/ad7799/ad7799.c
  drivers/adc/ad7799/ad7799.h
  drivers/adc/ad7799/iio_ad7799.c
Labels: drivers, update

#1076 projects: fmcjesdadc1: use new iio generic app
  projects/fmcjesdadc1/src.mk
  projects/fmcjesdadc1/src/app/app_iio.c
  projects/fmcjesdadc1/src/app/app_iio.h
  projects/fmcjesdadc1/src/app/fmcjesdadc1.c
  projects/fmcjesdadc1/src/devices/adi_hal/parameters.h
Labels: update, projects

#1079 projects:iio_adpd1080: add build json file
  projects/iio_adpd1080/builds.json
Labels: aducm, projects

#1085 drivers:adc:ad717x: add support and mention for ad4116
  drivers/adc/ad717x/ad717x.h
Labels: feature, drivers
