Repository analogdevicesinc/no-OS, pull requests merged in 2021-09, with the labels that each got.

#1092 Dev/adpd1080 iio offset
  drivers/photo-electronic/adpd188/iio_adpd188.c
Labels: bug, fix, drivers

#1091 tools:scripts: fix aducm 'make run' command
  tools/scripts/aducm.mk
Labels: fix, aducm, projects

#1105 projects: iio_adpd1080: fix typo
  projects/iio_adpd1080/src/main.c
Labels: fix, projects
