Repository analogdevicesinc/no-OS, pull requests merged in 2021-01, with the labels that each got.

#895 ci: doxygen: add git credential
  ci/travis/doxygen.sh
Labels: fix

#899 drivers: Makefile: include libraries/iio
  drivers/Makefile
Labels: drivers, fix

#889 drivers: adc: add AD7799 IIO driver
  drivers/adc/ad7799/iio_ad7799.c
  drivers/adc/ad7799/iio_ad7799.h
Labels: drivers, new

#903 drivers: adc: ad7616: fix build warning
  drivers/adc/ad7616/ad7616.c
Labels: drivers, fix

#905 projects: daq3: update adc/dac core addresses
  projects/fmcdaq3/src/devices/adi_hal/parameters.h
Labels: fix, projects

#904 drivers:adc:ad7124: add register methods wrappers
  drivers/adc/ad7124/ad7124.c
  drivers/adc/ad7124/ad7124.h
Labels: drivers, enhancement, update

#863 iio:iio_ad7124: initial commit
  drivers/adc/ad7124/iio_ad7124.c
  drivers/adc/ad7124/iio_ad7124.h
Labels: drivers, new

#915 drivers: adas1000: initial commit
  drivers/ecg/adas1000/adas1000.c
  drivers/ecg/adas1000/adas1000.h
Labels: drivers, new

#921 projects:adv7511: update makefile
  projects/adv7511/Makefile
Labels: projects, update, xilinx

#914 projects:iio_ad7124: example project
  projects/ad7124/Makefile
  projects/ad7124/pinmux_config.c
  projects/ad7124/src.mk
  projects/ad7124/src/ad7124_regs.c
  projects/ad7124/src/ad7124_regs.h
  projects/ad7124/src/app_config.h
  projects/ad7124/src/main.c
  projects/ad7124/src/parameters.h
Labels: aducm, new, projects

#924 projects: ad7124: fix doxygen build
  projects/ad7124/src/main.c
Labels: fix

#926 projects:ad7124: rename project folder
  projects/ad7124-8pmdz/Makefile
  projects/ad7124-8pmdz/pinmux_config.c
  projects/ad7124-8pmdz/src.mk
  projects/ad7124-8pmdz/src/ad7124_regs.c
  projects/ad7124-8pmdz/src/ad7124_regs.h
  projects/ad7124-8pmdz/src/app_config.h
  projects/ad7124-8pmdz/src/main.c
  projects/ad7124-8pmdz/src/parameters.h
Labels: fix, projects
