Repository analogdevicesinc/no-OS, pull requests merged in 2021-04, with the labels that each got.

#1002 projects: ad9371: fix namings
  projects/ad9371/src/app/headless.c
Labels: fix, projects

#987 drivers:frequency:adf5355: initial commit
  drivers/frequency/adf5355/adf5355.c
  drivers/frequency/adf5355/adf5355.h
Labels: drivers, new

#1012 drivers:amplifiers:ada4250: fix polarity meaning
  drivers/amplifiers/ada4250/ada4250.c
Labels: drivers, fix

#1015 ci: remove TravisCI dependencies
  .travis.yml
  azure-pipelines.yml
  ci/astyle.sh
  ci/astyle_config
  ci/cppcheck.sh
  ci/doxygen.sh
  ci/gen_dox.sh
  ci/lib.sh
  ci/patch_doxy.patch
  ci/run_build.sh
Labels: update

#1032 drivers:adc:ad7768-1: include spi
  drivers/adc/ad7768-1/ad77681.h
Labels: fix

#1006 drivers:platform:aducm3029: i2c read fix
  drivers/platform/aducm3029/i2c.c
Labels: aducm, bug, drivers, fix
