Repository analogdevicesinc/no-OS, pull requests merged in 2021-06, with the labels that each got.

#1048 adrv9009: fix IIO app issue
  projects/adrv9009/src/app/headless.c
Labels: bug, fix

#1049 drivers:adc:ad717x: remove wrong configuration
  drivers/adc/ad717x/ad7172_4_regs.h
Labels: fix

#1051 projects:fmcjesdadc1: perform cache flush
  projects/fmcjesdadc1/src/app/fmcjesdadc1.c
Labels: fix, projects

#1052 driver/ad7746: iio driver debug interface fix
  drivers/cdc/ad7746/iio_ad7746.c
Labels: bug, fix
