Repository analogdevicesinc/no-OS, pull requests merged in 2021-03, with the labels that each got.

#959 projects: fmcdaq3: update tx/rx core baseaddr
  projects/fmcdaq3/src/devices/adi_hal/parameters.h
Labels: fix

#966 2019_R2: daq3 updates
  projects/fmcdaq3/src/app/fmcdaq3.c
Labels: fix, update

#969 drivers: adc: ad7768-1: fix typo
  drivers/adc/ad7768-1/ad77681.h
Labels: fix

#973 projects:ad7124-8pmdz: add JSON build file
  projects/ad7124-8pmdz/builds.json
Labels: feature, projects

#972 projects:cn0531: add json build file
  projects/cn0531/builds.json
Labels: feature, projects

#974 add ADPD1080 driver support
  drivers/photo-electronic/adpd188/adpd188.c
  drivers/photo-electronic/adpd188/adpd188.h
Labels: drivers, feature, new

#981 ad9361: fix fmcomms5 build issue
  projects/ad9361/src/main.c
Labels: fix, projects

#984 ada4250: improve readability & minor fixes
  drivers/instr-amplif/ada4250/ada4250.c
  drivers/instr-amplif/ada4250/ada4250.h
  projects/ada4250_ardz/src/ada4250_ardz.c
Labels: drivers, fix, update

#996 drivers: rename amplifiers section
  drivers/amplifiers/ada4250/ada4250.c
  drivers/amplifiers/ada4250/ada4250.h
  projects/ada4250_ardz/src.mk
Labels: drivers

#994 projects: ad9371: update tx/rx core baseaddr
  projects/ad9371/src/devices/adi_hal/parameters.h
Labels: fix, projects

#999 iio:iio_app: fix macro syntax
  iio/iio_app/iio_app.c
Labels: bug, fix
