Repository analogdevicesinc/no-OS, pull requests merged in 2022-04, with the labels that each got.

#1315 drivers: adxrs453: fix value returned by reg read
  drivers/gyro/adxrs453/adxrs453.c
Labels: bug, fix, drivers

#1316 projects:eval-adxl355-pmdz: Add support for UART RX interrupt usage
  projects/eval-adxl355-pmdz/sdp-ck1z.ioc
  projects/eval-adxl355-pmdz/src/platform/stm32/parameters.h
Labels: projects

#1318 projects:iio_adpd1080: implement sample rate increase
  projects/iio_adpd1080/src/main.c
Labels: aducm, projects, workaround
