Repository analogdevicesinc/no-OS, pull requests merged in 2022-11, with the labels that each got.

#1548 ad9081 ADXCVR fix
  projects/ad9081/src/app_jesd.c
Labels: bug, easy-review

#1547 adrv9009 ADXCVR fix
  projects/adrv9009/src/app/app_transceiver.c
Labels: bug, easy-review

#1555 projects: adv7511: fix platform ops init
  projects/adv7511/src/main.c
Labels: bug, fix, easy-review

#1557 Revert "iio:iio.c: Reset trigger id of the device when closing device"
  iio/iio.c
Labels: easy-review

#1567 ad9361:src:main.c FMCOMMS5 DMA example fix
  projects/ad9361/src/main.c
Labels: fix
