Repository analogdevicesinc/no-OS, pull requests merged in 2022-12, with the labels that each got.

#1564 drivers: jesd204 :jesd204-core: copy_link_params() sysref param fix
  jesd204/jesd204-core.c
Labels: fix, easy-review

#1571 platform: max32650: fix uart init error handling
  drivers/platform/maxim/max32650/maxim_uart.c
Labels: easy-review

#1565 drivers: jesd204 :jesd204-core: copy_link_params() sysref param fix 2021_R2
  jesd204/jesd204-core.c
Labels: fix, easy-review

#1574 adc: adc_demo: iio_adc_demo: Fix memory access
  drivers/adc/adc_demo/iio_adc_demo.c
Labels: easy-review

#1577 tools: scripts: generic: minor typo fix
  tools/scripts/generic.mk
Labels: easy-review

#1580 drivers:platform: Remove redundant desc->platform_ops init
  drivers/platform/aducm3029/aducm3029_gpio_irq.c
  drivers/platform/maxim/max32650/maxim_gpio.c
  drivers/platform/maxim/max32650/maxim_gpio_irq.c
  drivers/platform/maxim/max32650/maxim_irq.c
  drivers/platform/maxim/max32650/maxim_spi.c
  drivers/platform/maxim/max32650/maxim_timer.c
  drivers/platform/maxim/max32655/maxim_gpio.c
  drivers/platform/maxim/max32655/maxim_gpio_irq.c
  drivers/platform/maxim/max32655/maxim_irq.c
  drivers/platform/maxim/max32655/maxim_spi.c
  drivers/platform/maxim/max32655/maxim_timer.c
  drivers/platform/maxim/max32660/maxim_gpio.c
  drivers/platform/maxim/max32660/maxim_gpio_irq.c
  drivers/platform/maxim/max32660/maxim_irq.c
  drivers/platform/maxim/max32660/maxim_spi.c
  drivers/platform/maxim/max32660/maxim_timer.c
  drivers/platform/maxim/max32665/maxim_gpio.c
  drivers/platform/maxim/max32665/maxim_gpio_irq.c
  drivers/platform/maxim/max32665/maxim_irq.c
  drivers/platform/maxim/max32665/maxim_spi.c
  drivers/platform/maxim/max32665/maxim_timer.c
  drivers/platform/maxim/max32670/maxim_gpio.c
  drivers/platform/maxim/max32670/maxim_gpio_irq.c
  drivers/platform/maxim/max32670/maxim_irq.c
  drivers/platform/maxim/max32670/maxim_spi.c
  drivers/platform/maxim/max78000/maxim_gpio.c
  drivers/platform/maxim/max78000/maxim_gpio_irq.c
  drivers/platform/maxim/max78000/maxim_irq.c
  drivers/platform/maxim/max78000/maxim_spi.c
  drivers/platform/maxim/max78000/maxim_timer.c
  drivers/platform/mbed/mbed_gpio_irq.cpp
  drivers/platform/mbed/mbed_irq.cpp
  drivers/platform/pico/pico_gpio_irq.c
  drivers/platform/pico/pico_irq.c
  drivers/platform/pico/pico_spi.c
  drivers/platform/stm32/stm32_gpio_irq.c
  drivers/platform/stm32/stm32_irq.c
Labels: easy-review

#1583 drivers: adc: ad7768: fix pwr mode bit def
  drivers/adc/ad7768/ad7768.h
Labels: easy-review

#1585 drivers:platform:xilinx:xilinx_uart.c set callback
  drivers/platform/xilinx/xilinx_uart.c
Labels: bug, fix

#1586 network: tcp_socket: fix config rng
  network/tcp_socket.c
Labels: easy-review

#1588 projects: Add platform_ops entry to struct no_os_uart_init_param
  projects/ad74413r/src/common/common_data.c
  projects/ad74413r/src/platform/maxim/parameters.h
  projects/ad74413r/src/platform/stm32/parameters.h
  projects/ad7746-ebz/src/app/headless.c
  projects/adt7420-pmdz/src/common/common_data.c
  projects/adt7420-pmdz/src/platform/maxim/parameters.h
  projects/aducm3029_flash_demo/src/main.c
  projects/eval-adxl313z/src/common/common_data.c
  projects/eval-adxl313z/src/platform/stm32/parameters.h
  projects/eval-adxl355-pmdz/src/common/common_data.c
  projects/eval-adxl355-pmdz/src/platform/maxim/parameters.h
  projects/eval-adxl355-pmdz/src/platform/pico/parameters.h
  projects/eval-adxl355-pmdz/src/platform/stm32/parameters.h
  projects/iio_aducm3029/src/main.c
  projects/max11205pmb1/src/common/common_data.c
  projects/max11205pmb1/src/platform/maxim/parameters.h
Labels: easy-review

#1591 ad9361:src:main Set swap ports to 0 for ad9364
  projects/ad9361/src/main.c
Labels: fix, easy-review
