Repository analogdevicesinc/no-OS, pull requests merged in 2022-03, with the labels that each got.

#1283 adf4377: adjust output amplitude level values
  drivers/frequency/adf4377/adf4377.h
  projects/adf4377_sdz/src/app/adf4377_sdz.c
Labels: fix, drivers, projects

#1285 drivers: adf4377: remove MUXOUT_REF_OK
  drivers/frequency/adf4377/adf4377.h
Labels: fix, drivers

#1308 ADXL355 fix hpf corner value setting
  drivers/accel/adxl355/adxl355.c
Labels: bug, fix

#1305 projects:eval-adxl355-pmdz: Project folder structure re-organization
  projects/eval-adxl355-pmdz/Makefile
  projects/eval-adxl355-pmdz/src.mk
  projects/eval-adxl355-pmdz/src/common/common_data.c
  projects/eval-adxl355-pmdz/src/common/common_data.h
  projects/eval-adxl355-pmdz/src/examples/dummy/dummy_example.c
  projects/eval-adxl355-pmdz/src/examples/dummy/dummy_example.h
  projects/eval-adxl355-pmdz/src/examples/examples_src.mk
  projects/eval-adxl355-pmdz/src/examples/iio_example/iio_example.c
  projects/eval-adxl355-pmdz/src/examples/iio_example/iio_example.h
  projects/eval-adxl355-pmdz/src/main.c
  projects/eval-adxl355-pmdz/src/platform/platform_includes.h
  projects/eval-adxl355-pmdz/src/platform/stm32/main.c
  projects/eval-adxl355-pmdz/src/platform/stm32/parameters.c
  projects/eval-adxl355-pmdz/src/platform/stm32/parameters.h
  projects/eval-adxl355-pmdz/src/platform/stm32/platform_src.mk
Labels: projects

#1306 iio: fix fractional number interpretation
  iio/iio.c
Labels: bug, fix
