Repository analogdevicesinc/no-OS, pull requests merged in 2022-10, with the labels that each got.

#1505 platform: generic: i2c: update implementation
  drivers/platform/generic/i2c.c
Labels: easy-review

#1504 drivers:platform:pico:pico_spi: Add spi_transfer API
  drivers/platform/pico/pico_spi.c
Labels: easy-review

#1517 Fix timer driver (MAX32660)
  drivers/platform/maxim/max32660/maxim_timer.c
Labels: easy-review

#1527 iio_app: Initialize iio_init_param.cntx_attrs
  iio/iio_app/iio_app.c
Labels: easy-review

#1523 Addition of ADXCVR status bits for more specific check
  drivers/axi_core/jesd204/axi_adxcvr.c
Labels: drivers, easy-review

#1532 projects:ad9371:src:headless.c ADXCVR init fix
  projects/ad9371/src/app/headless.c
Labels: fix

#1536 tools:scripts:platform:xilinx:util.tcl make run command update
  tools/scripts/platform/xilinx/util.tcl
Labels: enhancement, xilinx, easy-review
