Repository analogdevicesinc/no-OS, pull requests merged in 2023-01, with the labels that each got.

#1593 Staging/ad9361 Modify ad9361 project defines
  projects/ad9361/builds.json
  projects/ad9361/src/app_config.h
  projects/ad9361/src/main.c
Labels: update, easy-review

#1590 add hmc6300 and hmc6301 driver
  drivers/rf-transceiver/hmc630x/hmc630x.c
  drivers/rf-transceiver/hmc630x/hmc630x.h
Labels: drivers

#1599 Staging/time work
  drivers/platform/xilinx/xilinx_delay.c
Labels: fix

#1607 drivers: api: no_os_irq: Fix check in no_os_irq_set_priority
  drivers/api/no_os_irq.c
Labels: easy-review

#1606 drivers: accel: adxl355: Include no_os_delay.h
  drivers/accel/adxl355/adxl355.c
Labels: easy-review

#1615 platform:maxim:max*:maxim_init.c Add delay to init
  drivers/platform/maxim/max32650/maxim_init.c
  drivers/platform/maxim/max32655/maxim_init.c
  drivers/platform/maxim/max32660/maxim_init.c
  drivers/platform/maxim/max32665/maxim_init.c
  drivers/platform/maxim/max32670/maxim_init.c
  drivers/platform/maxim/max78000/maxim_init.c
Labels: fix, easy-review

#1618 iio: Add rotation type with axis modifiers
  iio/iio.c
  iio/iio_types.h
Labels: easy-review
