Repository analogdevicesinc/no-OS, pull requests merged in 2023-10, with the labels that each got.

#1935 drivers: meter: ade7913: Add driver
  drivers/meter/ade7913/ade7913.c
  drivers/meter/ade7913/ade7913.h
Labels: new, drivers

#1962 save max specific uart descriptor
  drivers/platform/maxim/max32650/maxim_uart.c
  drivers/platform/maxim/max32655/maxim_uart.c
  drivers/platform/maxim/max32660/maxim_uart.c
  drivers/platform/maxim/max32665/maxim_uart.c
  drivers/platform/maxim/max32670/maxim_uart.c
  drivers/platform/maxim/max32690/maxim_uart.c
  drivers/platform/maxim/max78000/maxim_uart.c
Labels: bug, fix, easy-review

#1963 maxim_irq: remove from list on irq_ctrl_remove
  drivers/platform/maxim/max32650/maxim_irq.c
  drivers/platform/maxim/max32655/maxim_irq.c
  drivers/platform/maxim/max32660/maxim_irq.c
  drivers/platform/maxim/max32665/maxim_irq.c
  drivers/platform/maxim/max32670/maxim_irq.c
  drivers/platform/maxim/max32690/maxim_irq.c
  drivers/platform/maxim/max78000/maxim_irq.c
Labels: bug, fix

#1948 projects: AD-ACEVSECRDSET-SL: Add project
  projects/AD-ACEVSECRDSET-SL/Makefile
  projects/AD-ACEVSECRDSET-SL/builds.json
  projects/AD-ACEVSECRDSET-SL/src.mk
  projects/AD-ACEVSECRDSET-SL/src/common/common_data.c
  projects/AD-ACEVSECRDSET-SL/src/common/common_data.h
  projects/AD-ACEVSECRDSET-SL/src/interface/interface.c
  projects/AD-ACEVSECRDSET-SL/src/interface/interface.h
  projects/AD-ACEVSECRDSET-SL/src/main.c
  projects/AD-ACEVSECRDSET-SL/src/pilot/pilot.c
  projects/AD-ACEVSECRDSET-SL/src/pilot/pilot.h
  projects/AD-ACEVSECRDSET-SL/src/platform/parameters.c
  projects/AD-ACEVSECRDSET-SL/src/platform/parameters.h
  projects/AD-ACEVSECRDSET-SL/src/rcd/rcd.c
  projects/AD-ACEVSECRDSET-SL/src/rcd/rcd.h
  projects/AD-ACEVSECRDSET-SL/src/relay/relay.c
  projects/AD-ACEVSECRDSET-SL/src/relay/relay.h
  projects/AD-ACEVSECRDSET-SL/src/self_test/self_test.c
  projects/AD-ACEVSECRDSET-SL/src/self_test/self_test.h
  projects/AD-ACEVSECRDSET-SL/src/state_machine/state_machine.c
  projects/AD-ACEVSECRDSET-SL/src/state_machine/state_machine.h
  projects/AD-ACEVSECRDSET-SL/src/supply/supply.c
  projects/AD-ACEVSECRDSET-SL/src/supply/supply.h
Labels: new, projects, maxim

#1968 frequency: admv1013: add mixer_vgate corner cases
  drivers/frequency/admv1013/admv1013.c
Labels: fix, easy-review

#1979 drivers: frequency: hmc7044: use no_os_calloc
  drivers/frequency/hmc7044/hmc7044.c
Labels: easy-review

#1982 ci: drop -j parameter for the astyle command
  ci/astyle.sh
Labels: easy-review

#1974 adrv902x: src: examples: Fix error handling
  projects/adrv902x/src/examples/basic_example/basic_example.c
  projects/adrv902x/src/examples/dma_example/dma_example.c
  projects/adrv902x/src/examples/iio_example/iio_example.c
Labels: bug, fix, easy-review

#1985 iio_axi_adc: Allow custom scan type
  drivers/axi_core/iio_axi_adc/iio_axi_adc.c
  drivers/axi_core/iio_axi_adc/iio_axi_adc.h
Labels: enhancement, xilinx, update, easy-review

#1986 Ad7768 iio update
  drivers/axi_core/iio_axi_adc/iio_axi_adc.c
  drivers/axi_core/iio_axi_adc/iio_axi_adc.h
  projects/ad7768-evb/src/ad7768_evb.c
Labels: fix, xilinx, update, projects
