Repository analogdevicesinc/no-OS, pull requests merged in 2023-03, with the labels that each got.

#1689 adf4106:adf4106.c Add prescaler to the init latch initialization method.
  drivers/frequency/adf4106/adf4106.c
Labels: easy-review

#1703 platform:stm32:stm_gpio_irq_generated.c Remove file
  drivers/platform/stm32/stm32_gpio_irq_generated.c
Labels: bug, easy-review

#1714 projects: eval-ade9430: fix spi param
  projects/eval-ade9430/src/app/main.c
Labels: easy-review

#1710 iio:iio_app:iio_app.c Remove formatting warning
  iio/iio_app/iio_app.c
Labels: enhancement, easy-review
