Repository analogdevicesinc/no-OS, pull requests merged in 2023-08, with the labels that each got.

#1848 projects: Makefile: fix typo
  projects/ad719x/Makefile
  projects/ad74413r/Makefile
  projects/ad74416h/Makefile
  projects/adin1110/Makefile
  projects/adt7420-pmdz/Makefile
  projects/adt75/Makefile
  projects/adxrs290-pmdz/Makefile
  projects/dc2903a/Makefile
  projects/demo_esp/Makefile
  projects/eval-adis1650x/Makefile
  projects/eval-adis1657x/Makefile
  projects/eval-adxl313z/Makefile
  projects/eval-adxl355-pmdz/Makefile
  projects/eval-adxl367z/Makefile
  projects/eval-ltc4306/Makefile
  projects/iio_demo/Makefile
  projects/iio_demo_freeRTOS/Makefile
  projects/ltc3337/Makefile
  projects/max11205pmb1/Makefile
  projects/max31855/Makefile
Labels: easy-review

#1850 Dma example support versal
  legacy/scripts/xilinx_capture.tcl
Labels: enhancement, feature, easy-review

#1851 ad3552r_fmcz:srcs:main.c Update project
  projects/ad3552r_fmcz/srcs/main.c
Labels: fix, easy-review

#1854 fmcdaq2:src.mk Add no_os_clk to sources
  projects/fmcdaq2/src.mk
Labels: fix, easy-review

#1853 drivers: dac: ad3552r: update ldac trigger func
  drivers/dac/ad3552r/ad3552r.c
Labels: easy-review

#1858 drivers: adc-dac: ad74416h: add missing conv rate
  drivers/adc-dac/ad74416h/ad74416h.c
Labels: easy-review
