Repository analogdevicesinc/no-OS, pull requests merged in 2023-04, with the labels that each got.

#1725 aducm3029: timer: update timer ops naming
  drivers/platform/aducm3029/aducm3029_delay.c
  drivers/platform/aducm3029/aducm3029_timer.c
  drivers/platform/aducm3029/aducm3029_timer.h
  projects/adxrs290-pmdz/src/platform/aducm3029/parameters.h
  projects/iio_adpd1080/src/main.c
Labels: easy-review

#1737 projects: adt7420: fix parameters for various targets
  projects/adt7420-pmdz/src/platform/maxim/parameters.h
Labels: easy-review

#1734 iio_app: Add default trigger id to iio devices
  iio/iio_app/iio_app.c
  iio/iio_app/iio_app.h
  projects/ad3552r_fmcz/srcs/main.c
  projects/ad413x/src/app/main.c
  projects/ad463x_fmcz/src/ad463x_fmc.c
  projects/ad469x_fmcz/src/ad469x_fmcz.c
  projects/ad6676-ebz/src/ad6676_ebz.c
  projects/ad7124-8pmdz/src/main.c
  projects/ad713x_fmcz/src/ad713x_fmc.c
  projects/ad7768-evb/src/ad7768_evb.c
  projects/ad9081/src/app.c
  projects/ad9083/src/app.c
  projects/ad9172/src/main.c
  projects/ad9208/src/main.c
  projects/ad9265-fmc-125ebz/src/ad9265_fmc_125ebz.c
  projects/ad9361/src/main.c
  projects/ad9371/src/app/headless.c
  projects/ad9434-fmc-500ebz/src/ad9434_fmc_500ebz.c
  projects/ad9467/src/app/ad9467_fmc.c
  projects/ad9656_fmc/src/app/ad9656_fmc.c
  projects/ad9739a-fmc-ebz/src/ad9739a_fmc_ebz.c
  projects/ada4250_ardz/src/ada4250_ardz.c
  projects/adaq8092_fmc/src/adaq8092_fmc.c
  projects/adf4377_sdz/src/app/adf4377_sdz.c
  projects/adf5902_sdz/src/adf5902_sdz.c
  projects/adrv9009/src/app/headless.c
  projects/cn0531/src/main.c
  projects/cn0561/src/cn0561.c
  projects/fmcadc2/src/fmcadc2.c
  projects/fmcadc5/src/fmcadc5.c
  projects/fmcdaq2/src/app/fmcdaq2.c
  projects/fmcdaq3/src/app/fmcdaq3.c
  projects/fmcjesdadc1/src/app/fmcjesdadc1.c
  projects/iio_adpd1080/src/main.c
  projects/iio_aducm3029/src/main.c
  projects/iio_demo/src/examples/iio_example/iio_example.c
  projects/iio_demo/src/examples/iio_sw_trigger_example/iio_sw_trigger_example.c
  projects/iio_demo/src/examples/iio_timer_trigger_example/iio_timer_trigger_example.c
Labels: easy-review

#1741 ad9361:ad9361_api.c Set gpio_desc_sync as output
  drivers/rf-transceiver/ad9361/ad9361_api.c
Labels: fix, easy-review

#1745 drivers:axi_core:axi_dac_core Add rate member to init params
  drivers/axi_core/axi_dac_core/axi_dac_core.c
  drivers/axi_core/axi_dac_core/axi_dac_core.h
  projects/ad9081/src/app.c
  projects/ad9172/src/main.c
  projects/ad9361/src/main.c
  projects/ad9371/src/app/headless.c
  projects/ad9739a-fmc-ebz/src/ad9739a_fmc_ebz.c
  projects/adrv9001/src/app/headless.c
  projects/adrv9009/src/app/headless.c
  projects/fmcdaq2/src/app/fmcdaq2.c
  projects/fmcdaq3/src/app/fmcdaq3.c
Labels: bug, fix, easy-review
