Repository analogdevicesinc/no-OS, pull requests merged in 2023-12, with the labels that each got.

#2035 ci: run_build: ensure wget command exists
  ci/run_build.sh
Labels: easy-review

#2038 adrv902x: Fix uart src in platform_src.mk
  projects/adrv902x/src/platform/xilinx/platform_src.mk
Labels: bug, fix

#2042 frequency: ad9528: ad9528.c: Set correct rate value in ad9528_clk_recalc_rate
  drivers/frequency/ad9528/ad9528.c
Labels: bug, fix

#2052 adc-dac: ad74416h: add DO value setter func
  drivers/adc-dac/ad74416h/ad74416h.c
  drivers/adc-dac/ad74416h/ad74416h.h
Labels: easy-review

#2054 projects: ad9361: Add System ID support
  projects/ad9361/src.mk
  projects/ad9361/src/main.c
  projects/ad9361/src/parameters.h
Labels: bug
