Repository analogdevicesinc/no-OS, pull requests merged in 2023-05, with the labels that each got.

#1754 Chibios/gpio: init ret guard bug fix
  drivers/platform/chibios/chibios_gpio.c
Labels: bug, easy-review

#1765 drivers:platform:xilinx:xilinx_gpio_irq.c Typo fix
  drivers/platform/xilinx/xilinx_gpio_irq.c
Labels: fix

#1767 Irq rem legacy members
  drivers/afe/ad4110/ad4110.c
  drivers/platform/xilinx/xilinx_gpio_irq.c
  drivers/platform/xilinx/xilinx_irq.c
  include/no_os_irq.h
Labels: fix, xilinx, easy-review

#1768 Ad4110 drdy pin set
  projects/ad4110/src/app/parameters.h
Labels: enhancement, xilinx, easy-review

#1779 projects: max11205pmb1: Fix SPI mode
  projects/max11205pmb1/src/common/common_data.c
Labels: easy-review

#1787 maxim_irq.c Multiple TMR interrupts and callbacks
  drivers/platform/maxim/max32650/maxim_irq.c
  drivers/platform/maxim/max32655/maxim_irq.c
  drivers/platform/maxim/max32660/maxim_irq.c
  drivers/platform/maxim/max32665/maxim_irq.c
  drivers/platform/maxim/max32670/maxim_irq.c
  drivers/platform/maxim/max32690/maxim_irq.c
  drivers/platform/maxim/max78000/maxim_irq.c
Labels: bug, enhancement, fix, easy-review
