Repository analogdevicesinc/no-OS, pull requests merged in 2023-11, with the labels that each got.

#1990 drivers: imu: Update documentation
  drivers/imu/README.rst
Labels: easy-review

#1998 drivers: accel: adxl345: Read correct value for inact ctl
  drivers/accel/adxl345/adxl345.c
Labels: easy-review

#1999 drivers: accel: adxl345: Read correct value for inact ctl
  drivers/accel/adxl345/adxl345.c
Labels: easy-review

#2006 drivers: digital-io: max22196 : Fix API call in driver source file
  drivers/digital-io/max22196/max22196.c
Labels: easy-review

#2007 ci: lib: move ensure command exists to run_build
  ci/lib.sh
  ci/run_build.sh
Labels: easy-review

#2010 CODEOWNERS: add more owners for ci scripts
  .github/CODEOWNERS
Labels: easy-review

#2009 iio: iiod.c: fix typo in file description
  iio/iiod.c
Labels: easy-review

#2008 adrv902x: src: examples: Specify desired SYSREF
  projects/adrv902x/src/examples/basic_example/basic_example.c
  projects/adrv902x/src/examples/dma_example/dma_example.c
  projects/adrv902x/src/examples/iio_example/iio_example.c
Labels: easy-review

#2011 src: parameters.h: Set SPI ENGINE ADDR define
  projects/ad738x_fmcz/src/parameters.h
  projects/adaq7980_sdz/src/parameters.h
Labels: xilinx

#2014 scripts: generic.mk: Use NO-OS instead of relative path
  tools/scripts/generic.mk
Labels: easy-review

#2016 doc: sphinx: source : Update documentation to include MAX22196
  doc/sphinx/source/drivers/max22196.rst
  doc/sphinx/source/drivers_doc.rst
Labels: easy-review

#2017 projects: eval-ade9430: README: add platform
  projects/eval-ade9430/README.md
Labels: easy-review

#2023 tools: scripts: add maxim as available PLATFORM
  tools/scripts/generic_variables.mk
Labels: easy-review

#2025 scripts: generic: make error more verbose
  tools/scripts/generic_variables.mk
Labels: easy-review

#2027 axi_core: jesd204: axi_adxcvr.c: Fix debug message
  drivers/axi_core/jesd204/axi_adxcvr.c
Labels: fix

#2026 eval-ade9430: integrate documentation into sphinx
  doc/sphinx/source/projects/eval-ade9430.rst
  doc/sphinx/source/projects_doc.rst
  projects/eval-ade9430/README.md
  projects/eval-ade9430/README.rst
Labels: easy-review

#2030 projects: max14906 : Fix maxim interrupt handling for MAX14906 project
  projects/max14906/src/examples/basic/basic_example.c
  projects/max14906/src/platform/maxim/main.c
  projects/max14906/src/platform/maxim/parameters.h
Labels: fix

#2034 ci: misc updates
  ci/lib.sh
  ci/run_build.sh
Labels: easy-review
