Repository analogdevicesinc/no-OS, pull requests merged in 2024-04, with the labels that each got.

#2149 Add the csv2cstring.sh script
  projects/adrv902x/csv2cstring.sh
Labels: xilinx, easy-review

#2150 madura: adrv9025_conv.c: Set tx_dac clock value
  drivers/rf-transceiver/madura/adrv9025_conv.c
Labels: fix

#2151 adrv902x: iio_example.c: Set DDS initial parameters
  projects/adrv902x/src/examples/iio_example/iio_example.c
Labels: fix, easy-review

#2152 Start DDS before enabling JESD
  projects/adrv902x/src/examples/basic_example/basic_example.c
Labels: fix, xilinx, easy-review

#2156 adrv9009: headless.c: Set DMA data type for DAC DMA example
  projects/adrv9009/src/app/headless.c
Labels: bug, fix, xilinx

#2162 drivers: imu: adis1657x: Update delta velocity scale
  drivers/imu/adis1657x.c
Labels: easy-review

#2163 README.rst: drop redundant ToC string
  projects/ad7091r8-sdz/README.rst
  projects/ad7616-st/README.rst
  projects/adp1050/README.rst
  projects/eval-adis1646x/README.rst
  projects/eval-adis1647x/README.rst
  projects/eval-adis1650x/README.rst
  projects/eval-adis1657x/README.rst
  projects/max14914/README.rst
  projects/max14919/README.rst
  projects/max2201x/README.rst
Labels: easy-review

#2166 drivers: axi_core: jesd204: axi_adxcvr: Add JESD204C
  drivers/axi_core/jesd204/axi_adxcvr.c
Labels: enhancement, xilinx
