Repository analogdevicesinc/no-OS, pull requests merged in 2024-02, with the labels that each got.

#2099 tools: scripts: mbed: update build path
  tools/scripts/mbed.mk
Labels: fix

#2098 tools: scripts: generic: drop unused flag
  tools/scripts/generic.mk
Labels: easy-review

#2106 drivers: imu: adis: Add tx_buff for all messages
  drivers/imu/adis.c
Labels: easy-review

#2108 drivers/maxim: solves unused variable warning
  drivers/platform/maxim/max32650/maxim_uart.c
  drivers/platform/maxim/max32655/maxim_uart.c
  drivers/platform/maxim/max32660/maxim_uart.c
  drivers/platform/maxim/max32665/maxim_uart.c
  drivers/platform/maxim/max32690/maxim_uart.c
  drivers/platform/maxim/max78000/maxim_uart.c
Labels: enhancement, easy-review
